# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.venv/
.env

# macOS
.DS_Store

# Dataset
Assignment-01/data/
Assignment-02/data/
Assignment-03/data/
Assignment-04/data/
Assignment-05/data/
Assignment-06/data/
Assignment-07/data/
Assignment-08/data/

Assignment-*/data/